* {
    box-sizing: border-box;
}

body {
    background: #777;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#header{
    background: #eee;
    color: #777;
    padding: 32px;
    border: solid;
    border-color: #777;
    border-width: 10px 0 5px 0;
}

#nav {
    background: #eee;
    color: #777;
    padding: 32px;
    border: solid;
    border-color: #777;
    border-width: 5px 0 15px 0;
}

#mainwrapper {
    width: 70%;
    margin: 0 auto;
}

#section {
    background: #eee;
    text-align: center;
    margin: 0 auto;
    padding: 32px 10px 0 10px;
    float: left;
    width: 50%;
    height: 300px;
    border: solid;
    border-color: #777;
    border-width: 5px 10px 5px 0;
}

#article {
    background: #777;
    color: #eee;
    padding: 10px;
    margin: 25px 0 0 0;
}

#h1 {
    margin: 10px;
    background: #eee;
    color: #777;
    font-weight: bold;
    padding: 12px;
}

#p {
    margin: 10px;
    background: #eee;
    color: #777;
    padding: 12px;
}

#aside {
    background: #eee;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    float: left;
    width: 50%;
    height: 300px;
    border: solid;
    border-color: #777;
    border-width: 5px 0 5px 10px;
}

/* clearfix is applied to the parent container to 'fix' the flow of the page */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#footer {
    clear: both;
    background: #eee;
    padding: 32px;
    border: solid;
    border-color: #777;
    border-width: 15px 0 0 0;
}