* {
    box-sizing: border-box;
}

body {
    background: #777;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}

#header{
    background: #eee;
    padding: 20px;
    border: solid;
    border-color: #777;
    border-width: 10px 0 5px 0;
}

#nav {
    background: #333;
    color: #eee;
    padding: 20px;
    border: solid;
    border-color: #777;
    border-width: 5px 0 5px 0;
}

#mainwrapper {
    width: 70%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#section {
    background: #eee;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    float: left;
    width: 50%;
    height: 400px;
    border: solid;
    border-color: #777;
    border-width: 5px 5px 5px 0;
}

#article {
    background: #777;

    border: solid;
}

#h1 {
    margin: 10px;

    border: solid;
}

#p {
    margin: 10px;

    border: solid;
}

#aside {
    background: #ddd;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    float: left;
    width: 50%;
    height: 400px;
    border: solid;
    border-color: #777;
    border-width: 5px 0 5px 5px;
}

/* clearfix is applied to the parent container to 'fix' the flow of the page */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#footer {
    clear: both;
    background: #ccc;
    padding: 20px;
    border: solid;
    border-color: #777;
    border-width: 5px 0 0 0;
}